.workspace {
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    background-color: #F9E9EC;
    &__title {
        font-size: 22px;
        text-transform: uppercase;
    }
    &__task {
        border: 2px solid rgba(0, 0, 0, 0.055);
        border-right: none;
        background-color: #ada3a65e;
        padding: 30px 20px 30px 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    &__condition {
       margin-top: 20px;
       position: relative;
    }
    &__condition-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__condition-inputs {
        width: 470px;
    }
    &__condition-item {
        width: 330px;
    }
    &__condition-item-wrapper {
        display: flex;
        align-items: center;
    }
    &__condition-input-name {

    }
    &__condition-input-value {

    }
    &__condition-select {

    }
    &__condition-select-option {

    }
    &__condition-add-btn {
        position: absolute;
        left: 349px;
        top: calc(100% - 37px);
    }   
    &__tofind {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__tofind-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__tofind-inputs {
        // display: flex;
        // flex-wrap: wrap;
        max-width: 350px;
    }
    &__tofind-item {
        width: 110px;
        margin-right: 20px;
    }
    &__tofind-item-wrapper {

    }
    &__tofind-input-name {

    }
    &__tofind-add-btn {
        position: absolute;
        left: 129.5px;
        top: calc(100% - 97px);
    }
    &__tofind-buttons {
        display: flex;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }
    &__tofind-reset-btn {
        margin-right: 20px;
        padding: 6px;
        width: 90px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #181f1c5e;
        color: white;
        border: none;
        border-radius: 7px;
        &:hover {
            background-color: white;
            color: #181f1c5e;
            border: 2px solid #181f1c5e;
            cursor: pointer;
        }
    }
    &__tofind-submit-btn {
        padding: 6px;
        width: 90px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #20bf7db7;
        color: white;
        border: none;
        border-radius: 7px;
        &:hover {
            background-color: white;
            color: #20bf7db7;
            border: 2px solid #20bf7db7;
            cursor: pointer;
        }
    }
    &__result {
        padding: 30px 20px 30px 20px;
        background-color: #b39fa57c;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid rgba(0, 0, 0, 0.041);
    }
    &__result-title {
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 41px; //- tempor
    }
    &__result-solution {
        width: 250px;
        height: 60px;
        background-color: #ffffffb6;
        border: 1px solid rgba(128, 128, 128, 0.377);
        border-radius: 10px;
    }
}
.u-input-btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.u-svg-btn:hover path{
    fill: rgba(0, 0, 0, 0.733);
}
.u-svg-btn:hover {
    cursor: pointer;
}
.u-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.u-item-wrapper {

}
.u-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffb6;
    border: 1px solid rgba(128, 128, 128, 0.377);
    padding: 6px;
    border-radius: 7px;
    margin-bottom: 20px;
}
.u-input {
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding: 5px;
    text-align: center;
    margin: 0 8px 0 8px;
}
.u-select {
    width: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding: 4.5px;
    text-align: center;
    margin: 0 5px 0 5px;
    color: rgba(0, 0, 0, 0.603);
}
.u-equal-sign {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.521);
}
.u-hidden {
    display: none;
}

